<div class="leaderboard-container">

    <h1 class="text-center mb-2">Leaderboard</h1>
    <h2 class="text-center mb-4 subtitle">
        <ng-container *ngIf="selectedOption === 0">คะแนนรวม</ng-container>
        <ng-container *ngIf="selectedOption === 1">คะแนนข้อ 1</ng-container>
        <ng-container *ngIf="selectedOption === 2">คะแนนข้อ 2</ng-container>
        <ng-container *ngIf="selectedOption === 3">คะแนนข้อ 3</ng-container>
        <ng-container *ngIf="selectedOption === 4">คะแนนข้อ 4</ng-container>
        <ng-container *ngIf="selectedOption === 5">คะแนนข้อ 5</ng-container>
    </h2>
    <div class="header-row d-flex justify-content-between p-3 mb-4">
        <div class="header-item flex-fill text-center cursor-pointer" [ngClass]="{ selected: selectedOption === 0 }"
            (click)="showAllScore()">
            คะแนนรวม
        </div>
        <div class="header-item flex-fill text-center cursor-pointer" [ngClass]="{ selected: selectedOption === 1 }"
            (click)="showScore1()">
            คะแนนข้อ 1
        </div>
        <div class="header-item flex-fill text-center" [ngClass]="{ selected: selectedOption === 2 }"
            (click)="showScore2()">
            คะแนนข้อ 2
        </div>
        <div class="header-item flex-fill text-center" [ngClass]="{ selected: selectedOption === 3 }"
            (click)="showScore3()">
            คะแนนข้อ 3
        </div>
        <div class="header-item flex-fill text-center" [ngClass]="{ selected: selectedOption === 4 }"
            (click)="showScore4()">
            คะแนนข้อ 4
        </div>
        <div class="header-item flex-fill text-center" [ngClass]="{ selected: selectedOption === 5 }"
            (click)="showScore5()">
            คะแนนข้อ 5
        </div>
    </div>

    <div class="table">
        <div class="row-table" *ngFor="let user of users; let index = index">
            <i *ngIf="index === 0" class="fa fa-trophy top1 cell"></i>
            <i *ngIf="index === 1" class="fa fa-trophy top2 cell"></i>
            <i *ngIf="index === 2" class="fa fa-trophy top3 cell"></i>
            <div *ngIf="index > 2" class="cell rank">{{ index + 1 }}</div>
            <div class="cell name">{{ user.name }}</div>

            <div class="cell score">
                <ng-container *ngIf="selectedOption === 1">{{ user.score1 ?? 0 }} คะแนน</ng-container>
                <ng-container *ngIf="selectedOption === 2">{{ user.score2 ?? 0 }} คะแนน</ng-container>
                <ng-container *ngIf="selectedOption === 3">{{ user.score3 ?? 0 }} คะแนน</ng-container>
                <ng-container *ngIf="selectedOption === 4">{{ user.score4 ?? 0 }} คะแนน</ng-container>
                <ng-container *ngIf="selectedOption === 5">{{ user.score5 ?? 0 }} คะแนน</ng-container>
                <ng-container *ngIf="selectedOption === 0">{{ user.allScore }} คะแนน</ng-container>
            </div>
        </div>
    </div>
</div>





